.joke{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    border: 1px solid rgb(211, 199 ,137);
    font-family: sans-serif;
    font-size: 1.5rem;
    color: rgb(39, 162, 39);

    .jokename{
        font-size: 2rem;
        font-weight: 100;
    }

    .rating{
        color: rgb(47, 10, 193);
        font-size: 2rem;
        font-weight: 700;
    }

    &:hover{
        background-color: rgba(95, 106, 90, 0.2);
        color: rgb(143, 16, 16);
        transition: all 0.4s ease-in-out;
    }
}